body {
  text-align: center;
  background-color: rgb(255, 246, 222);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 60px;
}

p {
  display: block;
  margin: 0 auto;
  max-width: 600px;
}

.rows a {
  color: darkgreen;
  padding: 10px 15px;
  margin: 10px;
  background-color: white;
  border: 1px solid darkgreen;
  border-radius: 7px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.rows a:hover {
  cursor: pointer;
  background-color: darkgreen;
  color: white;
}

.rows {
  margin-top: 55px;
}

img {
  max-width: 220px;
  padding: 4px;
  background-color: darkgreen;
  border-radius: 7px;
}

.img-2 {
  margin: 28px;
}

.inline-link {
  text-decoration: none;
  color: darkgreen;
  font-weight: bold;
}
